################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/storage-package/Moreira.Azure.Storage/bin/Debug/netcoreapp3.1
